<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>

  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link rel='stylesheet' href='/stylesheets/notice.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
  <script src="/javascripts/bootstrap.bundle.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




  <script>

    function checkall() {
      var countOfCheck = 0;
      if ((document.getElementById('searchoption').value != "op1") && (document.getElementById('searchoption').value != "op2") && (document.getElementById('searchoption').value != "op3") && (document.getElementById('searchoption').value != "op4") && (document.getElementById('searchoption').value != "op5")) {
        var modal = document.getElementById("checkSelect");
        modal.style.display = "block";
        countOfCheck += 1;
        return false;
      }


      if (document.getElementById('txttitle').value == "") {
        var modal = document.getElementById("checkTitle");
        modal.style.display = "block";
        countOfCheck += 1;
        return false;
      }

      // if (document.getElementById('txtContent').value.trim() == "") {
      //   var modal = document.getElementById("checkContent");
      //   modal.style.display = "block";
      //   countOfCheck += 1;
      //   return false;
      // }

      document.fadd.submit();
    }

    function hideCheckSelect() {
      var modal = document.getElementById("checkSelect");
      document.getElementById('searchoption').focus();
      modal.style.display = "none";
    }

    function hideCheckTitle() {
      var modal = document.getElementById("checkTitle");
      document.getElementById('txttitle').focus();
      modal.style.display = "none";
    }

    function hideCheckContent() {
      var modal = document.getElementById("checkContent");
      document.getElementById('txtContent').focus();
      modal.style.display = "none";
    }




    function noticeBoxShow() {
      // document.getElementById("editorMain").value = '';
      var modal = document.getElementById("notice");
      modal.style.display = "block";
    }

    function noticeBoxHide() {
      var modal = document.getElementById("notice");
      modal.style.display = "none";
    }


    // Add file
    function addFileShow() {
      // document.getElementById("editorMain").value = '';
      var modal = document.getElementById("addfile");
      modal.style.display = "block";
    }

    function hideAddFile() {
      var modal = document.getElementById("addfile");
      modal.style.display = "none";
      var fileInput = document.getElementById('myfile');
      var fileName = fileInput.files[0].name;
      document.getElementById("txtfileupload").innerHTML = fileName;

      document.getElementById("sendFileName").value = fileName;

      document.fsubmitfile.submit();
    }

    function closeBoxAddfile() {
      var modal = document.getElementById("addfile");

      modal.style.display = "none";

    }



    // Add video
    function addVideoShow() {
      // document.getElementById("editorMain").value = '';
      var modal = document.getElementById("addVideo");
      modal.style.display = "block";
    }

    function hideAddVideo() {
      var modal = document.getElementById("addVideo");
      modal.style.display = "none";

      var fileInput = document.getElementById('myvideo');
      var fileName = fileInput.files[0].name;
      document.getElementById("txtvideoupload").innerHTML = fileName;

      document.getElementById("sendVideoName").value = fileName;

      document.fsubmitfile.submit();

    }

    function closeBoxAddvideo() {
      var modal = document.getElementById("addVideo");
      modal.style.display = "none";
    }
  </script>


  <style>
    body {
      background: #F5F6F9;
    }
  </style>

  <script>
    // message box
    function showSelEmpMes() {
      var modal = document.getElementById("emptySelect");
      modal.style.display = "block";
    }


  </script>



</head>

<body onLoad="noticeBoxShow();">
  <!--show box to add video -->
  <div id='addVideo' class='messBox'>
    <div class='modalmess-content d-flex flex-column p-2'>
      <div class="btnX "><button onclick='closeBoxAddvideo()'>X</button></div>
      <p class="p-1 d-flex ">Please choose video! </p>
      <div class="choosefile">
        <form action="/notice/uploadvideo" name="fsubmitvideo" method="POST" enctype="multipart/form-data">
          <input type="file" name="myvideo" id="myvideo" class="inputfile inputfile-6" accept="">
          <label for="myvideo"><span id="hidfile1"></span> </label>
          <label for="myvideo">
            <div class="btnfile"> Select file</div>
          </label>
          <script src="/javascripts/custom-file-input.js"></script>
      </div>
      <p class="d-flex flex-row-reverse">
        <button class='btn btn-dark btnFileUpload' onclick="hideAddVideo()">Upload</button>
        </form>
      </p>
    </div>
  </div>




 

  <!--show box to add file -->
  <div id='addfile' class='messBox'>

    <div class='modalmess-content d-flex flex-column p-2'>
      <div class="btnX "><button onclick='closeBoxAddfile()'>X</button></div>
      <p class="p-1 d-flex ">Please choose file! </p>
      <div class="choosefile">
        <form action="/notice/uploadfile" name="fsubmitfile" method="POST" enctype="multipart/form-data">
          <input type="file" name="myfile" id="myfile" class="inputfile inputfile-6" accept="">
          <label for="myfile"><span id="hidfile1"></span> </label>
          <label for="myfile">
            <div class="btnfile"> Select file</div>
          </label>
          <script src="/javascripts/custom-file-input.js"></script>
      </div>
      <p class="d-flex flex-row-reverse">
        <button class='btn btn-dark btnFileUpload' onclick="hideAddFile()">Upload</button>
        </form>
      </p>
    </div>
  </div>



  <!--empty title -->
  <div id='checkSelect' class='messBox'>
    <div class='modalmess-content d-flex flex-column'>
      <p class="p-5 d-flex ">Please choose category!</p>
      <p class="p-3 d-flex flex-row-reverse ">
        <a href='#' onclick='hideCheckSelect();' class='btn btn-dark '>Confirm</a>

      </p>
    </div>
  </div>

  <!--empty title -->
  <div id='checkTitle' class='messBox'>
    <div class='modalmess-content d-flex flex-column'>
      <p class="p-5 d-flex ">Please type title!</p>
      <p class="p-3 d-flex flex-row-reverse ">
        <a href='#' onclick='hideCheckTitle();' class='btn btn-dark '>Confirm</a>

      </p>
    </div>
  </div>

  <!--empty content -->
  <!-- <div id='checkContent' class='messBox'>
    <div class='modalmess-content d-flex flex-column'>
      <p class="p-5 d-flex ">Please type content! </p>
      <p class="p-3 d-flex flex-row-reverse ">
        <a href='#' onclick='hideCheckContent();' class='btn btn-dark '>Confirm</a>

      </p>
    </div>
  </div> -->


  <div id='notice' class='modal'>
    <div class='modal-content'>


      <form action="/notice/proAddNotice" method="post" name="fadd">
        <div class="d-flex flex-column">
          <div class="p-2 d-flex flex-row-reverse ">

            <a href='/notice' onclick='noticeBoxHide();' class='btn btn-dark btnfix'>X</a>


          </div>
          <div class="p-2">
            <div id="title">
              <select class="form-select form-select-sm" aria-label="GFG Small Select" name="searchoption"
                id="searchoption">
                <option>Select a category</option>
                <option value="op1">Announcement</option>
                <option value="op2">Suggestion</option>
                <option value="op3">Opinion</option>
                <option value="op4">Request</option>
                <option value="op5">Reference</option>
              </select>
              <input type="text" placeholder="Type your title" id="txttitle" name="txtTitle">

            </div>

          </div>
          <div class="p-2">
            <div id="addFile">
              <i class="fa fa-upload" style="font-size:18px" onclick="addFileShow()"></i> <i class="fa fa-video-camera"
                style="font-size:18px" onclick="addVideoShow()"></i>
            </div>




            <script src="https://cdn.ckeditor.com/4.22.1/standard-all/ckeditor.js"></script>



            <textarea cols="80" id="txtContent" name="txtContent" rows="10"></textarea>

            <script>
              // CKEDITOR.addCss('.cke_editable { font-size: 15px; padding: 2em; }');


              CKEDITOR.replace('txtContent',

                {
                  toolbar: [

                    {
                      name: 'clipboard',
                      items: ['Undo', 'Redo']
                    },
                    {
                      name: 'insert',
                      items: ['Image']
                    },
                    {
                      name: 'links',
                      items: ['Link', 'Unlink']
                    },


                    {
                      name: 'basicstyles',
                      items: ['Bold', 'Italic', 'Underline']
                    },
                    {
                      name: 'styles',
                      items: ['Font', 'FontSize']
                    },
                    {
                      name: 'colors',
                      items: ['TextColor']
                    }

                  ],
                  extraPlugins: 'uploadimage,image2',
                  // extraPlugins: 'editorplaceholder',
                  // editorplaceholder: 'Start typing here...',

                  extraAllowedContent: 'h3{clear};h2{line-height};h2 h3{margin-left,margin-top}',

                  // Adding drag and drop image upload.
                  extraPlugins: 'print,format,font,colorbutton,justify,uploadimage',
                  uploadUrl: '/apps/ckfinder/3.4.5/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json',

                  // Configure your file manager integration. This example uses CKFinder 3 for PHP.
                  filebrowserBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html',
                  filebrowserImageBrowseUrl: '/apps/ckfinder/3.4.5/ckfinder.html?type=Images',
                  filebrowserUploadUrl: '/apps/ckfinder/3.4.5/core/connector/php/connector.php?command=QuickUpload&type=Files',
                  filebrowserImageUploadUrl: '/apps/ckfinder/3.4.5/core/connector/php/connector.php?command=QuickUpload&type=Images',

                  height: 200,
                  uiColor: '#CCEAEE',


                  removeDialogTabs: 'image:advanced;link:advanced',


                  removeButtons: 'PasteFromWord'
                });
            </script>

          </div>
          <div class=" d-flex ">
            <p id="txtfileupload"></p>
            <input type="hidden" name="txtfileupload" id="sendFileName">
            &#9; 
            <p id="txtvideoupload"></p>
            <input type="hidden" name="txtvideoupload" id="sendVideoName">

          </div>
          <div class="p-2 d-flex flex-row-reverse ">
            <button class="btn btn-primary" id="btnUpload" type="button" onclick="checkall()">Upload</button>

          </div>






        </div><!--end flex-->
      </form>

    </div><!--end modal-content-->
  </div><!--end loginfail-->






</body>

</html>