<!DOCTYPE html>
<html>
<head>
    <!-- Include CKEditor 5 script -->
    <script src="https://cdn.ckeditor.com/ckeditor5/38.1.1/super-build/ckeditor.js"></script>
</head>
<body>f
    <!-- Element to be converted into CKEditor 5 instance -->
    <div id="editor"></div>

    <!-- Element to display the character count -->
    <div id="charCount"></div>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                console.log('CKEditor is ready!');
            })
            .catch(error => {
                console.error('Error initializing CKEditor:', error);
            });
    </script>
</body>
</html>