<!DOCTYPE html>
<html>
<head>
  <title>Đọc file txt bằng JavaScript</title>
</head>
<body>




  <script>
   function removeTextBeforeUnderscore(inputString) {
  const underscoreIndex = inputString.indexOf('_');

  if (underscoreIndex !== -1) {
    return inputString.substring(underscoreIndex + 1);
  } else {
    // Nếu không tìm thấy ký tự _, trả về chuỗi ban đầu
    return inputString;
  }
}

// Sử dụng ví dụ
const inputString = "example_text_text2.png";
const result = removeTextBeforeUnderscore(inputString);
alert(result);
  </script>
</body>
</html>